---
ventes:
  - prix: "1000"
    desc: testing description
    dateAdd: 2022
  - prix: "1000"
    desc: dfdssssssssssss
    dateAdd: 2022
  - prix: "1000"
    desc: dfdssssssssssss
    dateAdd: 2022
  - prix: "1000"
    desc: dfdssssssssssss
    dateAdd: 2022
  - prix: "1000"
    desc: dfdssssssssssss
    dateAdd: 2022
  - prix: "1000"
    desc: dfdssssssssssss
    dateAdd: 2022
  - prix: "1000"
    desc: dfdssssssssssss
    dateAdd: 2022
  - prix: "1000"
    desc: dfdssssssssssss
    dateAdd: 2022
  - prix: "1000"
    desc: dfdssssssssssss
    dateAdd: 2022
---

{% block content %}
<header>
  <div>
    <h1>offres de ventes</h1>
  </div>
</header>

<div class="card-container">
  {% for vente in ventes %}
  <article class="card">
    <div class="card__image" style="background-image: url(/img/ah1.jpg);">
    </div>
    <div class="card__content">
      <h5 class="card__title">Card title</h5>
      <div>{{ vente.desc }}</div>
    </div>
    <div class="card__footer">
      <div>
        <span>{{ vente.prix }}</span>
        <small>MRU</small>
      </div>
      <span>{{ vente.dateAdd }}</span>
      <a href="/details">details</a>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}
