--- 
---



{% block content %}
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900"> chercher une annonce  </h1>
    </div>
  </header>
 
<div class="block p-6 rounded-lg shadow-lg bg-white max-w-max">
  <form>
  {# <div class="flex justify-center"> #}
  <div class="form-group mb-6">
  <div class="mb-6 xl:w-96">
    <select class="form-select appearance-none
      block
      w-full
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
        <option selected> choisir une categorie</option>
        <option value="1"> Maison </option>
        <option value="2">Tairain </option>
        <option value="3">voiture</option>
    </select>
  </div>

    <div class="form-group mb-6">
  <div class="mb-6 xl:w-96">
    <select class="form-select appearance-none
      block
      w-full
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
        <option selected> choisir un lieu</option>
        <option value="1"> NKTT-Arafat </option>
        <option value="2"> NKTT-Toujounin</option>
        <option value="3">NDB</option>
    </select>
  </div>

</div>
    <div class="form-group mb-6">
      <label 
      for="exampleInputEmail1" 
      class="form-label inline-block mb-2 text-gray-700">
      prix en ancien ouguiya
      </label>
      <input type="email" class="form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
        id="exampleInputEmail1"
        aria-describedby="emailHelp" >
       
    </div>
  
     <a href="/mypage"   class="
      px-6
      py-2.5
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out"
     >
            submit 
            </a>
  </form>
</div>

 
  

{% endblock %}